body{
  font-family: sans-serif;
}

.app{
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.progress{
  width: 500px;
  height: 21px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: rgb(225, 228, 230);
  position: relative;
  overflow: hidden;
}

.progress div{
  background-color: rgb(9, 224, 248);
  height: 100%;
}

.progress span{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 2px;
  z-index: 1;
}
